<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Expense Manager Tool</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1> Personal Expense Manager</h1>
  <h2>Keep track of your expenses.</h2>
  <!-- //items -->
  <section class="leftSec">
    <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
        <li class="message">
          <span><%= messages[i].message %></span>
        </li>
        <% } %>
      </ul>
    </section>
    <!--
    //funds -->
    <section class="rightSec">
      <ul class="messages">
        <% for(var x=0; x<messages.length; x++) {%>
          <li class="messages">
            <span style="color:<%= messages[x].color %>" ><%= messages[x].funds %></span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            <span> <button class="lineThrough" type="button" name="button">Never Buy Again</button> </span>
          </li>
          <% } %>
        </section>

        <section class="userInput">
          <form action="/messages" method="POST">
            <input type="text" placeholder="Enter Item" name="msg">
            <input type="text" placeholder="Enter Price" name="fnd">
            <button type="submit">Submit</button>
          </form>
        </section>

        <script src="https://kit.fontawesome.com/14935d9727.js"></script>

        <script src="main.js"></script>

      </body>
      </html>
